*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.6rem;
}
button{
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    padding: 6px 12px;
    width: 48%;
}
button:hover {
    box-shadow: 4px 2px #888888;
  }
a{
    text-decoration: none;
    color: white;
}
.headcontainer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    color: white;
}
.headcontainer-navbar_list {
    list-style: none;
    display: flex;
}
.headcontainer-logo{
    margin-left: 20rem;
}
.headcontainer-button{
    margin-right: 20rem;
}
.headcontainer-navbar_list li{
    margin-left: 5rem;
    margin-right: 5rem;
}
.maincontainer-content{
    background-color: black;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.maincontainer-card{
    background-color: black;
    width: 25%;
    height: 90%;  
    border: 0.2rem solid white;
    border-radius: 2rem;
    color: white;
    
}
.maincontainer-description{
    display: block;
    text-align: center;
}
.maincontainer-content h2{
    margin-top: 2rem;
    margin-bottom: 10rem;
    text-align: center;
}
.maincontainer-card_square{
    margin: 4rem;
}
.maincontainer-card_square--inputContainer{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%; 
}
.maincontainer-card_square--inputContainer input{
    width: 100%;
    height: 3rem;
    padding: 1rem;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}
div .maincontainer-card_square--buttons{
    display: flex;
    justify-content: space-between;
}

.maincontainer-card_text{
    margin-top: 5rem;
}
.maincontainer-card_square--result{
    box-sizing: border-box;
    width: 100%;
    height: 30rem;
    padding: 10px;
    border: 2px solid white;
    border-radius: 7px;
}